# jimkoto-vault - ENV EXAMPLE - JANGAN COMMIT .env ASLI
# Simpan di Cloudflare Pages > Settings > Variables (Encrypt)

DRIVE_FOLDER_ID=1npMxtII68ru-0NWzt5UzKB-jxVVFOI6U
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"jimkoto-secure-vault",...}
GOOGLE_SHEET_ID=your_sheet_id_for_portal
GOOGLE_API_KEY=your_api_key

# Microsoft Root Identity (filosofi, bukan kredensial)
MICROSOFT_ROOT=Windows - Tanah Kesadaran
